Repository hristinaina/RefLetter, pull requests merged in 2024-06, with the labels that each got.

#7 initial security config
  backend/.idea/workspace.xml
  backend/model/pom.xml
  backend/model/src/main/java/com/ftn/sbnz/model/models/Person.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/Professor.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/Student.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/CredentialsDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/PersonDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/TokenDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/security/Role.java
  backend/model/src/main/java/com/ftn/sbnz/model/repo/PersonRepo.java
  backend/model/src/main/java/com/ftn/sbnz/model/repo/RoleRepo.java
  backend/service/.gitignore
  backend/service/pom.xml
  backend/service/src/main/java/com/ftn/sbnz/MyValidator.java
  backend/service/src/main/java/com/ftn/sbnz/MyValidatorException.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/LoginController.java
  backend/service/src/main/java/com/ftn/sbnz/security/CustomUserDetailsService.java
  backend/service/src/main/java/com/ftn/sbnz/security/RestAuthenticationEntryPoint.java
  backend/service/src/main/java/com/ftn/sbnz/security/RoleService.java
  backend/service/src/main/java/com/ftn/sbnz/security/RoleServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/security/SecurityConfiguration.java
  backend/service/src/main/java/com/ftn/sbnz/security/jwt/JwtRequestFilter.java
  backend/service/src/main/java/com/ftn/sbnz/security/jwt/JwtTokenUtil.java
  backend/service/src/main/java/com/ftn/sbnz/security/jwt/TokenBasedAuthentication.java
  backend/service/src/main/java/com/ftn/sbnz/services/PersonService.java
  backend/service/src/main/java/com/ftn/sbnz/services/PersonServiceImpl.java
  backend/service/src/main/resources/application.properties
  backend/service/src/main/resources/application.properties.txt
  backend/service/src/main/resources/data.sql
Labels: back, feature

#8 Feature/template criteria
  backend/kjar/src/main/resources/META-INF/kmodule.xml
  backend/kjar/src/main/resources/rules/cep/cep2.drl
  backend/kjar/src/main/resources/rules/template/criteria_template.drt
  backend/model/src/main/java/com/ftn/sbnz/model/events/IndecisiveStudent.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/GradProgram.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/ExampleController.java
  backend/service/src/main/java/com/ftn/sbnz/services/ExampleService.java
  backend/service/src/test/java/com/ftn/sbnz/tests/Cep1Test.java
  backend/service/src/test/java/com/ftn/sbnz/tests/Cep2Test.java
  backend/service/src/test/java/com/ftn/sbnz/tests/CriteriaTemplateTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo-color.png
  frontend/public/logo-white.png
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/no-slogan-color.png
  frontend/src/AppRoutes.js
  frontend/src/components/Home.js
  frontend/src/components/Navigation/Navigation.css
  frontend/src/components/Navigation/Navigation.js
  frontend/src/components/Programs.js
  frontend/src/index.css
  frontend/src/theme.js
Labels: back, front, feature

#10 Feature/back/mentorship
  backend/.idea/workspace.xml
  backend/kjar/src/main/resources/rules/backward/backward.drl
  backend/model/src/main/java/com/ftn/sbnz/model/models/Mentorship.java
  backend/model/src/main/java/com/ftn/sbnz/model/repo/GradProgramRepo.java
  backend/model/src/main/java/com/ftn/sbnz/model/repo/MentorshipRepo.java
  backend/model/src/main/java/com/ftn/sbnz/model/repo/ProfessorRepo.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/MentorshipController.java
  backend/service/src/main/java/com/ftn/sbnz/services/DroolBackwardService.java
  backend/service/src/main/java/com/ftn/sbnz/services/DroolBackwardServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/DroolForwardServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/MentorshipService.java
  backend/service/src/main/java/com/ftn/sbnz/services/MentorshipServiceImpl.java
  backend/service/src/main/resources/data.sql
  backend/service/src/test/java/com/ftn/sbnz/tests/BackwardsTest.java
Labels: back, feature

#12 Feature/front/recommendations
  .idea/.gitignore
  .idea/RefLetter.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  backend/.idea/vcs.xml
  backend/.idea/workspace.xml
  backend/kjar/src/main/resources/rules/template/filter_template.drt
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/GradProgramDetailsDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/RecommendationDTO.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/LoginController.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/MentorshipController.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/ProgramController.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/StudentController.java
  backend/service/src/main/java/com/ftn/sbnz/services/DroolFilterTemplateService.java
  backend/service/src/main/java/com/ftn/sbnz/services/DroolFilterTemplateServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/GradProgramService.java
  backend/service/src/main/java/com/ftn/sbnz/services/GradProgramServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/StudentService.java
  backend/service/src/main/java/com/ftn/sbnz/services/StudentServiceImpl.java
  backend/service/src/test/java/com/ftn/sbnz/tests/FilterTemplateTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/public/edu.png
  frontend/src/App.js
  frontend/src/AppRoutes.js
  frontend/src/components/Login/Login.css
  frontend/src/components/Login/Login.js
  frontend/src/components/Programs.js
  frontend/src/components/Recommendation/Recommendation.js
  frontend/src/components/Recommendation/Recommendations.css
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/interceptor/interceptor.js
  frontend/src/services/AuthService.js
  frontend/src/services/ProgramService.js
  frontend/src/theme.js
  frontend/src/themes/darkTheme.js
  frontend/src/themes/lightTheme.js
Labels: front, feature

#14 Feature/front/mentorship
  backend/model/src/main/java/com/ftn/sbnz/model/models/Person.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/CreateMentorshipDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/MentorshipDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/ProfessorRegisterDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/StudentRegisterDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/repo/ProfessorRepo.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/LoginController.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/MentorshipController.java
  backend/service/src/main/java/com/ftn/sbnz/security/SecurityConfiguration.java
  backend/service/src/main/java/com/ftn/sbnz/security/jwt/JwtRequestFilter.java
  backend/service/src/main/java/com/ftn/sbnz/services/MentorshipService.java
  backend/service/src/main/java/com/ftn/sbnz/services/MentorshipServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/PersonService.java
  backend/service/src/main/java/com/ftn/sbnz/services/PersonServiceImpl.java
  backend/service/src/main/resources/data.sql
  frontend/src/AppRoutes.js
  frontend/src/components/Login/Login.css
  frontend/src/components/Login/Login.js
  frontend/src/components/Mentorship/Mentorship.js
  frontend/src/components/ProfMentorship/ProfMentorship.js
  frontend/src/components/ProfNavigation/ProfNavigation.css
  frontend/src/components/ProfNavigation/ProfNavigation.js
  frontend/src/components/Programs/Programs.js
  frontend/src/components/Recommendation/Recommendation.js
  frontend/src/components/Registration/MainRegister.js
  frontend/src/components/Registration/ProfessorRegistration.js
  frontend/src/components/Registration/StudentRegistration.js
  frontend/src/components/StudentNavigation/StudentNavigation.css
  frontend/src/components/StudentNavigation/StudentNavigation.js
  frontend/src/interceptor/interceptor.js
  frontend/src/services/AuthService.js
  frontend/src/services/ProgramService.js
Labels: front, feature

#16 Feature/profile page
  backend/model/src/main/java/com/ftn/sbnz/model/models/Notification.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/GradProgramDTO.java
  backend/model/src/main/java/com/ftn/sbnz/model/models/dto/ProgramDTO.java
  backend/service/src/main/java/com/ftn/sbnz/controllers/ProgramController.java
  backend/service/src/main/java/com/ftn/sbnz/services/impl/CepServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/impl/FinancialAidServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/impl/GradProgramServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/interf/CepService.java
  backend/service/src/main/java/com/ftn/sbnz/services/interf/GradProgramService.java
  backend/service/src/main/resources/data.sql
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/add.png
  frontend/public/images/user.png
  frontend/src/App.css
  frontend/src/AppRoutes.js
  frontend/src/components/Login/Login.css
  frontend/src/components/Login/Login.js
  frontend/src/components/Mentorship/Mentorship.js
  frontend/src/components/ProfMentorship/ProfMentorship.js
  frontend/src/components/ProfNavigation/ProfNavigation.js
  frontend/src/components/Profile/Notifications.js
  frontend/src/components/Profile/ProfessorProfile.js
  frontend/src/components/Profile/Profile.css
  frontend/src/components/Profile/Statistics.js
  frontend/src/components/Profile/StudentProfile.js
  frontend/src/components/Programs/AddProgram.js
  frontend/src/components/Programs/Programs.css
  frontend/src/components/Programs/Programs.js
  frontend/src/components/Recommendation/Recommendation.js
  frontend/src/components/Recommendation/Recommendations.css
  frontend/src/components/Registration/MainRegister.js
  frontend/src/components/Registration/ProfessorRegistration.js
  frontend/src/components/Registration/Registration.css
  frontend/src/components/Registration/StudentRegistration.js
  frontend/src/components/StudentNavigation/StudentNavigation.js
  frontend/src/index.css
  frontend/src/services/AuthService.js
  frontend/src/services/ProgramService.js
  frontend/src/services/UserService.js
  frontend/src/themes/darkTheme.js
Labels: front, bugfix, feature

#17 Feature/front/interceptor
  Project_proposal.pdf
  backend/service/src/main/java/com/ftn/sbnz/controllers/ProgramController.java
  backend/service/src/main/java/com/ftn/sbnz/services/impl/GradProgramServiceImpl.java
  backend/service/src/main/java/com/ftn/sbnz/services/interf/GradProgramService.java
  backend/service/src/main/resources/data.sql
  frontend/src/components/Login/Login.js
  frontend/src/components/Mentorship/Mentorship.js
  frontend/src/components/ProfMentorship/ProfMentorship.js
  frontend/src/components/ProfNavigation/ProfNavigation.js
  frontend/src/components/Programs/Programs.js
  frontend/src/components/Recommendation/Recommendation.js
  frontend/src/components/Registration/ProfessorRegistration.js
  frontend/src/components/Registration/StudentRegistration.js
  frontend/src/components/StudentNavigation/StudentNavigation.js
  frontend/src/interceptor/interceptor.js
  frontend/src/services/AuthService.js
  frontend/src/services/ProgramService.js
  frontend/src/services/UserService.js
Labels: back, front, bugfix, feature
